#Groups {
    overflow-y: scroll;
    background-color: #F5F5F6;
}

.groups {
    width: 40%;
}

.chat-card {
    height: 80px;
    border-bottom: 1px solid #212426;
}

.group-name {
    margin: 5px 0 0 5px;
}

@media only screen and (max-width: 600px) {
    .hide-groups {
        width: 0%;
    }
    .show-full {
        width: 100%;
    }
}