#Chat {
    border: 1px solid green;
    overflow-y: scroll;
    flex-grow: 1;
    flex-basis: 0;
}

.myChat {
    align-items: flex-end;
}

.head-name {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 600;
    color: blue;
    position: sticky;
    top: 0;
}