#Chat {
    width: 100%;
    overflow-y: scroll;
    flex-grow: 1;
    flex-basis: 0;
}

.myChat {
    align-items: flex-end;
    margin-right: min(3%,8px) ;
    margin: 4px 6px 0 0;
}

.myChat > .chatMsg {
    background-color: #A2FF86;
    padding: 0.2rem 0.4rem;
    border-radius: 0.6rem 0 0.6rem 0.6rem;
}

.otherChat {
    align-items: flex-start;
    margin-left: min(3%,8px) ;
    margin: 4px 0 0 6px;
}
.otherChat > .chatMsg {
    background-color: #79E0EE;
    padding: 0.2rem 0.4rem;
    border-radius: 0 0.6rem 0.6rem 0.6rem;
}

.head-name {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(0, 98, 255);
    position: sticky;
    top: 0;
}

.chat-options {
    /* border: 2px solid grey; */
    padding: 0.25rem 0 0.25rem 0.25rem;
    background-color: #A2B5BB;
}

.no-chat {
    margin-top: 40%;
}




@media screen and (min-width: 600px) {
    .hide-back {
        display: none;
    }
}