#Chat {
    width: 100%;
    overflow-y: scroll;
    flex-grow: 1;
    flex-basis: 0;
}

.myChat {
    align-items: flex-end;
}

.head-name {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(0, 98, 255);
    position: sticky;
    top: 0;
}

.chat-options {
    /* border: 2px solid grey; */
    padding: 0.25rem 0 0.25rem 0.25rem;
    background-color: #A2B5BB;
}

.no-chat {
    margin-top: 40%;
}




@media screen and (min-width: 600px) {
    .hide-back {
        display: none;
    }
}