#Navbar {
    background-color: #75C2F6;
}

.options {
    justify-content: flex-end;
}

#standard-basic {
    margin: 0;
}

.search-btn {
    outline: none;
    border: none;
    background-color: #75C2F6;
}

.addf-btn {
    outline: none;
    border: none;
    background-color: #fff;
}

.nav-home {
    font-weight: 600;
}

.findFriend {
    width: 190px;
    padding-left: 5px;
    font-weight: 600;
}

.addf-btn {
    margin-left: auto;
}