.options {
    justify-content: flex-end;
}

#standard-basic {
    margin: 0;
}

.search-btn {
    outline: none;
    border: none;
    background-color: #fff;
}

.addf-btn {
    outline: none;
    border: none;
    background-color: #fff;
}